<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link
        rel="stylesheet"
        type="text/css"
        th:href="@{/css/components/my-page-chat.css}"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>무당마켓</title>
</head>
<body>
    <div class="header">
        <span style="font-size:20px; font-weight:bold;">이 상품 관련 채팅 목록</span>
        <a class="back" th:href="${'/products/list/'+ productId}">목록으로</a>
    </div>
    <div class="main-list">
        <div class="back-color">
            <div th:each="room: ${chatList}">
                <a th:href="@{/chat/room(roomName=${room.name}, productId=${room.product.id})}" style="width: 100%; height: auto;">
                    <div class="list-item">
                        <div class="div-profile">
                            <div class="div-profile-img">
                                <img th:src="${room.lastChat.profile}" class="profile-img"/>
                                <div class="div-profile-txt">
                                    <div th:text="${room.lastChat.nickname}" class="div-profile-name">닉네임</div>
                                    <div th:text="${room.lastChat.content}" class="div-chat-content">마지막 채팅 내용</div>
                                </div>
                            </div>
                        </div>
                        <div class="div-product-img">
                            <img th:src="${room.product.thumbnail}" style="object-fit: cover; width: 100%; height: auto;">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="bottom-btn">
            <div style="margin-right: 50px">
                <a th:href="@{/products/list}" style="font-size: 50px">🏠</a>
            </div>
            <div>
                <a th:href="@{/my-page}" style="margin-left: 15px; font-size: 50px">🐞</a>
            </div>
        </div>
    </div>
    <div id="no-mobile">
        <span>화면 크기를 줄여주세요</span>
    </div>
</body>
</html>