<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/components/other.css}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>무당마켓</title>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <a
          class="register"
          th:href="@{/products/list/other(memberId=${memberId})}" style="font-weight: 600;"
          >전체</a
        >
        <a
          class="register"
          th:href="@{/products/list/other(memberId=${memberId}, status='TRADE')}" style="font-weight: 600;"
          >판매중</a
        >
        <a
          class="register"
          th:href="@{/products/list/other(memberId=${memberId}, status='COMPLETED')}" style="font-weight: 600;"
          >거래완료</a
        >
        <a class="back" href="javascript:history.back(-1)" style="font-weight: 600;">뒤로가기</a>
      </div>
      <div class="list">
        <div th:each="product: ${otherProducts}" style="display: flex; width: 100%; height: auto;">
          <div class="div2">
            <a th:href="${'/products/list/' + product.id}">
              <img
                width="150px"
                height="150px"
                th:src="${product.thumbnail}"
              />
            </a>
          </div>
          <div class="div3">
            <a th:href="${'/products/list/' + product.id}">
              <h2 th:text="${product.title}" class="title">제목</h2>
              <h3 th:text="${product.price + ' 원'}" class="price">가격</h3>
              <p th:text="${product.place}" class="place">장소</p>
              <div style="position:absolute; bottom: 0; margin-top: auto; width: 100%; height: auto;">
                <p style="margin: 0; font-size: 15px;" th:text="${product.status.value}">상품 상태</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="bottom-btn">
        <div style="margin-right: 50px">
          <a th:href="@{/products/list}" style="font-size: 50px">🏠</a>
        </div>
        <div>
          <a th:href="@{/my-page}" style="margin-left: 15px; font-size: 50px"
            >🐞</a>
        </div>
      </div>
    </div>
    <div id="no-mobile">
      <span>화면 크기를 줄여주세요</span>
    </div>
  </body>
</html>
