<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link
    rel="stylesheet"
    type="text/css"
    th:href="@{/css/components/detail.css}"
/>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>무당마켓</title>
</head>
<body>
    <div class="header">
        <a class="button-tab" th:if="${memberId == product.seller.id}" th:href="@{/products/update(productId=${product.id})}">상품 수정</a>
        <a class="button-tab" th:if="${memberId == product.seller.id}" th:href="@{/products/delete/check(productId=${product.id})}">상품 삭제</a>
        <a href="/products/list" class="back">목록으로</a>
    </div>
    <div class="detail-main">
        <div class="slider">
            <input type="radio" th:each="item, i: ${productDetail.productImages}" name="slide" th:id="'slide' + ${i.index}" checked />
            <ul id="imgholder" class="imgs">
            <li th:each="item: ${productDetail.productImages}">
                <img th:src="${item}" class="product-img" />
            </li>
            </ul>
            <div class="bullets">
            <label
                th:each="item, i : ${productDetail.productImages}"
                th:for="'slide'+${i.index}"
                >&nbsp;</label
            >
            </div>
        </div>
        <div class="main">
            <div class="profile">
                <div style="margin-right: auto; margin-left: 30px; float: left; width: 150px; display: flex; align-items: center;" >
                    <img
                        style="background-color: black"
                        th:src="${productDetail.profile}"
                    />
                    <div style="text-overflow: ellipsis; overflow: hidden; margin-left: 10px; float: left;" th:text="${productDetail.nickName}">
                        닉네임
                    </div>
                </div>
                <div style="display: flex;" th:if="${memberId == product.seller.id}">
                    <form style="margin-left: auto; margin-right: 20px;" th:action="@{/products/update/status}" method="get">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <select name="status">
                            <option th:each="status: ${changeableStatus}" th:value="${status}" th:text="${status.value}" selected>판매중</option> 
                        </select>
                        <input type="submit" value="수정">
                    </form>
                </div>
            </div>
            <div style="padding: 0px 50px;">
                <div class="product-info">
                    <div style="width: 100%;" class="product-details">
                        <h1 th:text="${productDetail.title}" class="title">상품명</h1>
                        <p th:text="${productDetail.status}" class="prd-status">상품상태</p>
                    </div>                
                    <div class="product-details" style="width: 100%;">
                        <p th:text="${productDetail.category}" class="prd-category">상품 카테고리</p> ·
                        <p th:text="${productDetail.date}" class="regist-time">상품 등록 시간</p>
                    </div>
                <p th:text="${productDetail.content}" style="font-size: 20px;">상품 내용</p>
            </div>
        </div>

        <div class="prd-list">
            <div style="padding: 0px 20px;">
                <div style="display: inline-block; display: flex; width: 100%; padding-top: 10px;">
                    <span
                    th:text="${productDetail.nickName} + ' 님의 판매상품'"
                    style="font-size: 25px; font-weight: 700;"
                    ><b>닉네임님의 판매상품</b></span
                    >
                    <a th:href="@{/products/list/other(memberId=${product.seller.id})}"
                    >모두 보기</a
                    >
                </div>
                <div th:each="item, i: ${productDetail.otherProducts}" class="list-3">
                    <span th:if="${i.index==0}" style="display: inline-block">
                        <div class="div-img">
                            <a th:href="${'/products/list/' + item.id}">
                            <img
                                th:src="${item.thumbnail}"
                            />
                            </a>
                        </div>
                        <div class="div-txt">
                            <h2 th:text="${item.title}">상품명</h2>
                            <p th:text="${item.price + ' 원'}">가격</p>
                        </div>
                    </span>
                    <span th:if="${i.index==1}" style="display: inline-block">
                        <div class="div-img">
                            <a th:href="${'/products/list/' + item.id}">
                            <img
                                th:src="${item.thumbnail}"
                            />
                            </a>
                        </div>
                        <div class="div-txt">
                            <h2 th:text="${item.title}">상품명</h2>
                            <p th:text="${item.price + ' 원'}">가격</p>
                        </div>
                    </span>
                    <span th:if="${i.index==2}" style="display: inline-block">
                        <div class="div-img">
                            <a th:href="${'/products/list/' + item.id}">
                            <img
                                th:src="${item.thumbnail}"
                            />
                            </a>
                        </div>
                        <div class="div-txt">
                            <h2 th:text="${item.title}">상품명</h2>
                            <p th:text="${item.price + ' 원'}">가격</p>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
        <div class="footer">
            <div style="margin: 10px; font-size: 40px;" th:if="${#lists.contains(interestList, product)}">
                <a class="interest_a" th:href="@{/interests/delete(productId=${product.id})}">💖</a>
            </div>
            <div style="margin: 10px; font-size: 40px;" th:unless="${#lists.contains(interestList, product)}">
                <a class="interest_a" th:href="@{/interests/save(productId=${product.id})}">🤍️</a>
            </div>
            <span th:text="${productDetail.price + ' 원'}">상품가격</span>
            <a th:if="${memberId == product.seller.id}" th:href="${'/products/list/'+ product.id +'/chat'}" class="chatting">관련채팅</a>
            <a th:unless="${memberId == product.seller.id}" th:href="@{/chat/room(roomName=${roomName}, productId=${product.id})}" class="chatting">채팅하기</a>
        </div>   
    <div id="no-mobile">
        <span>화면 크기를 줄여주세요</span>
    </div>
</body>
</html>
