<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/components/my-page-product.css}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>무당마켓</title>
  </head>
  <body>
    <div>
        <div class="header-bar">
            <span>판매내역</span>
            <a class="back" href="/my-page" style="font-weight: 600;">뒤로가기</a>
        </div>
    </div>
    <div class="list">
      <div style="width: 33%; text-align: center; font-weight: 600;">
        <a th:href="@{/my-page/product?status=TRADE}">판매중</a>
      </div>
      <div style="width: 33%; text-align: center; font-weight: 600;">
        <a th:href="@{/my-page/product?status=RESERVATION}">예약중</a>
      </div>
      <div style="width: 33%; text-align: center; font-weight: 600;">
        <a th:href="@{/my-page/product?status=COMPLETED}">거래완료</a>
      </div>
    </div>
    <div style="margin-bottom: 88px;">
      <div th:each="product: ${products}">
        <div class="main-list">
          <div style="display: flex; flex-direction: row; width: 100%; height: 184px;">
            <div class="div2">
              <a th:href="${'/products/list/' + product.id}">
                <img
                  th:src="${product.thumbnail}"
                  width="150px"
                  height="150px"
                />
              </a>
            </div>
            <div class="div3">
              <a th:href="${'/products/list/' + product.id}">
                <h2 th:text="${product.title}" class="title">제목</h2>
                <h3 th:text="${product.price + ' 원'}" class="price">가격</h3>
                <p th:text="${product.place}" class="place">장소</p>
              </a>
              <div style="position:absolute; bottom: 0; margin-top: auto; width: 100%; height: auto;" th:if="${#lists.contains(interestByMember, product)}">
                <div style="width: auto; height: auto; float: right; margin-right: 10px;">
                  <span
                  class="numHeart"
                    th:if="${product.interestCount > 0}"
                    th:text="${product.interestCount}"
                    >하트수</span>
                  <a
                    th:href="@{/interests/delete(productId=${product.id})}"
                    th:onclick="alert('관심목록에서 삭제되었습니다!')"
                    class="interest_a"
                    >💖</a>
                </div>
              </div>
              <div
                style="position:absolute; bottom: 0; margin-top: auto; width: 100%; height: auto;"
                th:unless="${#lists.contains(interestByMember, product)}"
              >
                <div style="width: auto; height: auto; float: right; margin-right: 10px;">
                  <span th:if="${product.interestCount > 0}" th:text="${product.interestCount}">하트수</span>
                  <a
                    th:href="@{/interests/save(productId=${product.id})}"
                    th:onclick="alert('관심목록에 추가되었습니다!')"
                    class="interest_a"
                    >🤍️</a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="status-change">
              <a
                th:if="${status.value == '거래완료'}"
                th:each="status: ${changeableStatus}"
                th:href="@{/products/update/status(productId=${product.id}, status=${status})}"
                th:text="${status.value + '로 변경'}"
                >거래완료로 변경</a>
              <a
                th:unless="${status.value == '거래완료'}"
                th:each="status: ${changeableStatus}"
                th:href="@{/products/update/status(productId=${product.id}, status=${status})}"
                th:text="${status.value + '으로 변경'}"
                >예약중으로 변경</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
        <div class="bottom-btn">
            <div style="margin-right: 50px">
                <a th:href="@{/products/list}" style="font-size: 50px">🏠</a>
            </div>
            <div>
                <a
                th:href="@{/my-page}"
                style="margin-left: 15px; font-size: 50px"
                >🐞</a
                >
            </div>
        </div>
    </div>    
    <div id="no-mobile">
      <span>화면 크기를 줄여주세요</span>
    </div>
  </body>
</html>
